body {
  background-color: black;
}
.fond {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('nice.webp') center/cover;
  
  height: 280px;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul {
  display: flex; 
  text-align: center;
}

nav > ul > li {
  position: relative; 
  margin-left: 20px;
}

li a {
  text-decoration: none;
  color : white;
  display: block; 
  padding: 10px 15px; 
}
nav a {
    font-weight: bold;
}
nav > ul > li:hover > a {
  color :#D4AF37;
}

.menu-deroulant > a:after {
  content : ">";
  font-size: 15px;
  margin-left: 7px;
  display : inline-block;
  transition: transform 0.2s linear; 
}
.menu-deroulant:hover > a:after {
  transform: rotate(90deg);
}
.sous-menu{
  list-style-type: none;
  position: absolute;
  top: 100%; 
  left: 0;
  min-width: 200px;
  background-color: black; 
  z-index: 10;
  max-height: 0; /* CLÉ : Cache le menu */
  overflow: hidden; 
  transition: max-height 0.8s ease-in-out, border-top 0.8s;
  border-radius:  0 0 5px 5px;
  z-index: 10;
  max-height: 0; 
  overflow: hidden; 
}

.menu-deroulant:hover > .sous-menu{
  max-height: 50em; 
  border-top:3px solid #D4AF37;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items:center;
  display:flex;
}

.sous-menu >li:hover{
  background-color:#D4AF37;
}
.sous-menu >li:hover>a{
  color:white;
}

h1 {
  color : #D4AF37; 
  text-align: center;
  
}
h2 {
  color : white;
  text-align: center;
}
h4 {
  color : white;
  margin-left:1000px;
  margin-top:100px;
}
h3 {
  color :white;
}
h5{
  color:white;
  text-align: left;
}

.roulette {
  text-align:left
}
.nav{
  text-align:right;
}
.rotate {
    animation: spin 0.6s linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
p{
  color:#ffffff;
  margin-left:350px;
}
.option {
  margin-left: auto;
  text-align: right; 
  margin-right: 30px; 
  max-width: 800px; /
}

.Avis {
  margin-right: 30px; 
  max-width: 800px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.note-etoile {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}


.etoile {
  width: 202px;
  height: 32;

}
.nbetoile{
  margin-left: 1200px;
}

.soiree, .restaurant, .jeux {
  width: 70px;
  height: 50px;
}

  .activite {
    /* 1. Mettre tous les éléments (img et p) sur la même ligne */
    display: flex;
    /* 2. Répartir l'espace horizontalement pour les centrer */
    justify-content: center;
    /* 3. Forcer le retour à la ligne après chaque paire icône/texte (si le conteneur est trop petit) */
    flex-wrap: wrap; 
    /* 4. Aligner tous les éléments en haut */
    align-items: flex-start;
}

/* 5. Mettre l'icône et son texte l'un au-dessus de l'autre */
.activite img {
    /* Définit une taille pour les icônes */
    width: 60px;
    height: 60px;
    /* Crée un espace pour l'icône, puis force le texte à s'aligner en dessous */
    margin-right: 20px; 
    margin-left: 20px;
    display: block; /* S'assurer qu'elles occupent leur propre ligne */
}

/* 6. Centrer le texte sous l'icône */
.activite p {
    text-align: center;
    width: 60px; /* Aligne le texte sous l'image de 60px */
    margin-right: 20px; 
    margin-left: 20px;
}










/*.nbetoile {
  margin-left: 1000px;
  margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.etoile{
  width: 202px;
  height: 32;
}

.nbetoile, .etoile img {
  display: inline-block;
  vertical-align: middle;
} */