:root {
    --bg-body: #0d0000;
    --text-main: white;
    --text-muted: #595959;

    --header-bg: transparent;
    --header-shadow: none;
    --nav-color: white;

    --dropdown-bg: #0d0000;
    --dropdown-text: white;
    --dropdown-border: none;

    --accent: #D4AF37;
    --accent-hover: #d8bd6a;

    --swiper-btn-bg: #F04E23;
    --swiper-btn-hover: #4A261F;
}